* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.text-theme1 {
    color: #2A9D8F;

}

a.text-theme1 {
    color: #2A9D8F;

}

rgb(8, 117, 104) a.text-theme1:hover {
    color: #2A9D8F;

}

.text-theme1.h2:hover {
    color: #155e55;
    text-decoration: none;
}

.btn-theme {
    background-color: #2A9D8F;
    color: white;
    box-sizing: border-box;
}

.btn-theme:hover {

    background-color: #ffff;
    border: 2px solid #2A9D8F;
    color: #2A9D8F;
}

.w-under {
    border-bottom: 2px solid #2A9D8F;
    max-width: 290px;
    padding: 10px;
}

/* mobile size media query */
body {
    box-sizing: border-box;
}

aside {
    width: 75%;
    height: 110%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 50px;

    z-index: 9999;
    background-color: #f8fafc;
    display: none;
    right: 0;
    top: -6px;
    padding-bottom: 0;
    -webkit-box-shadow: -20px 4px 39px -24px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -20px 4px 39px -24px rgba(0, 0, 0, 0.62);
    box-shadow: -20px 4px 39px -24px rgba(0, 0, 0, 0.62);
}

aside img {
    width: 200px;
    position: relative;
    top: -30px;
    left: 40px;
}

aside a {
    display: block;
    font-size: 20px;
    ;
    background-color: teal;
    padding: 2px 0 0 20px;
    margin: 3px 0;
    color: #727272;
    background-color: #F0EFEB;
    border-radius: 50px;
}

aside .active {
    background-color: #2A9D8F;
    color: white;
}

aside .active:hover {
    color: #F0EFEB;
}

aside a:hover {
    text-decoration: none;
    color: #2A9D8F;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    /* background-color: yellow; */
    align-items: center;
    flex-direction: row;
    padding: 5px;
    /* padding-right: 100px; */
    -webkit-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    z-index: 999;
    background-color: #f8fafc;
}

.form-navbar input {
    border-radius: 50px 0 0 50px !important;
    height: 40px !important;
    padding: 2px 20px !important;
    border: 1px solid #727272 !important;
}

div .input-group-text {
    border-radius: 0 50px 50px 0 !important;
    height: 40px;
    width: 70px !important;
    border: 1px solid #727272;
    background: white;
    border-left: none;

}

.input-group-text .fas {
    color: #727277;
}

nav form {
    width: 100%;
    position: relative;
    left: -30px;
}

nav .avatar {
    width: 45px;
    border-radius: 50%;
    margin-top: -5px;
    border: 2px solid #727272;
}

.icon {
    display: flex;
    position: relative;
    margin-right: 70px;

}

.icon a {
    color: #727272;
}

.fa-bars {
    color: #727272;
    position: absolute;
    top: 12px;
    right: 20px;
}

.show-sidebar {
    display: flex;
    z-index: 9999;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    display: relative;
    /* background-color: red; */
    margin: 0 auto;
    z-index: -1;
    /* padding: 30px 100px 0 30px; */
    margin-top: 75px;
}

.content {
    width: 100%;
    min-height: 100vh;
    background: white;
    /* border-radius: 20px; */
    overflow: hidden;
}

.carousel {
    height: 250px;
    border-radius: 20px 20px 0 0;
}

.carousel-inner {
    height: 250px;
    -webkit-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);

}

.carousel-inner img {
    object-fit: cover;
}

.card {
    -webkit-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
    border-radius: 20px !important;
    ;
    margin: 10px 0;
}

.row-mobile {
    display: flex;
    flex-direction: column;
}

.card img {
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 !important;

}

.btn-doni {
    background-color: #2A9D8F;
    border-radius: 20px;
    border: none;
}

.btn-doni:hover {
    color: #2A9D8F;
    background: #F0EFEB;
    border: 1px solid #2A9D8F;
}

.close-sidebar {
    position: absolute;
    display: flex;
    top: 20px;
    right: 25px;
    color: #727272;
}

iframe {
    width: 110%;
    margin: 0 auto;
    position: relative;
    left: -20px;
    height: 250px;
}

.form-kontak input,
.form-kontak textarea {
    border: 1px solid #2A9D8F;
}

.login-box {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    top: 20px;
    height: 95vh;


}

.dropup,
.dropright,
.dropdown,
.dropleft {
    position: relative;
    list-style: none;
}

.user-name {
    text-transform: capitalize;
    color: teal;
}

.harga {
    font-weight: bold;
    color: teal;
    font-size: 1.2em;
}


























































/* desktop size media query */

@media (min-width:1800px) {

    aside {
        width: 25%;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        padding-left: 100px;
        -webkit-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        -moz-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        z-index: 999;
        background-color: #f8fafc;
        top: 0px;
        margin-right: auto;
        left: 0;
    }

    aside img {
        width: 300px;
        position: relative;
        top: -50px;
        left: 10px;
    }

    aside a {
        display: block;
        font-size: 28px;
        ;
        background-color: teal;
        padding: 2px 0 0 50px;
        margin: 5px 0;
        color: #727272;
        background-color: #F0EFEB;
        border-radius: 50px;
    }

    aside .active {
        background-color: #2A9D8F;
        color: white;
    }

    aside .active:hover {
        color: #F0EFEB;
    }

    aside a:hover {
        text-decoration: none;
        color: #2A9D8F;
    }

    nav {
        position: fixed;
        width: 75%;
        top: 0;
        right: 0;
        display: flex;
        /* background-color: yellow; */
        align-items: center;
        flex-direction: row;
        padding: 10px;
        padding-right: 100px;
        -webkit-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        -moz-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        z-index: 999;
        background-color: #f8fafc;
    }

    .form-navbar input {
        border-radius: 50px 0 0 50px !important;
        height: 50px !important;
        padding: 5px 40px !important;
        border: 1px solid #727272 !important;
        width: 100%;
    }

    .input-group {
        width: 100%;
        margin-left: 30px;
    }

    div .input-group-text {
        border-radius: 0 50px 50px 0 !important;
        height: 50px;
        width: 70px !important;
        border: 1px solid #727272;
        background: white;
        border-left: none;
        padding-left: 10px;

    }

    .input-group-text .fas {
        color: #727277;
    }

    nav form {
        width: 100%;
        padding-right: 10px;
    }

    nav .avatar {
        width: 50px;
        border-radius: 50%;
        margin-top: -5px;
        border: 2px solid #727272;
    }

    .icon {
        display: relative;
        width: 200px;
        right: 0;
        /* margin-left: 20px; */

    }

    .icon a {
        color: #727272;
    }

    .main-content {
        width: 75%;
        min-height: 100vh;
        display: relative;
        /* background-color: red; */
        margin-left: auto;
        z-index: -1;
        padding: 30px 100px 0 30px;
        margin: 0 0 0 0;
        margin-top: 90px;
        margin-left: auto;
    }

    .content {
        width: 100%;
        min-height: 100vh;
        background: white;
        border-radius: 20px;
        overflow: hidden;
    }

    .carousel {
        height: 500px;
        border-radius: 20px 20px 0 0;
    }

    .carousel-inner {
        height: 500px;
        -webkit-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        -moz-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);

    }

    .carousel-inner img {
        object-fit: cover;
    }


    .inline-block {
        display: inline-block;
    }

    .card {
        display: inline-block;
        -webkit-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        -moz-box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        box-shadow: 0px 22px 45px -21px rgba(163, 163, 163, 0.56);
        border-radius: 20px !important;
        ;
        min-width: 25%;
        margin: 5px 0;

    }

    .card img {
        height: 300px;
        object-fit: cover;
        border-radius: 20px 20px 0 0 !important;

    }

    .btn-doni {
        background-color: #2A9D8F;
        border-radius: 20px;
        border: none;
    }

    .btn-doni:hover {
        color: #2A9D8F;
        background: #F0EFEB;
        border: 1px solid #2A9D8F;
    }

    .desktop-none {
        display: none;
    }

    .icon {
        display: block;
    }

    .row-mobile {
        display: flex;
        flex-direction: row;
    }

    iframe {
        width: 110%;
        margin: 0 auto;
        position: relative;
        left: -20px;
        height: 450px;

    }

    .login-box {
        position: relative;
        padding: 30px;
        border-radius: 10px;
        width: 500px;
        margin: 0 auto;
        top: 250px;
        height: auto;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 9999;


    }

    .bg-image {
        height: 100vh;
        background-image: url('https://images.unsplash.com/photo-1576495169018-bd2414046c6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1294&q=80');
        background-size: cover;
        object-fit: cover;
        /* filter: blur(50px); */
    }
}
